---
layout: page
title: Arsip
---

{% for post in site.posts %}
    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
        <h2><strong>{{ currentyear }}</strong></h2>
        {% capture year %}{{currentyear}}{% endcapture %}
    {% endif %}
    <ul>
        <li>
            <p>
                <span class="post-meta">{{ post.date | date: "%b %d" }}</span> 
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </p>
        </li>
    </ul>
{% endfor %}